DedicatedClient/Service References/CinemaService/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" />
  <xs:import schemaLocation="http://localhost:8000/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Cinema.Domain" />
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" minOccurs="0" name="model" nillable="true" type="q1:UserLogin" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" minOccurs="0" name="LoginResult" nillable="true" type="q2:LoginResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" minOccurs="0" name="model" nillable="true" type="q3:UserRegister" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" minOccurs="0" name="CreateUserResult" nillable="true" type="q4:CreateUserResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="user" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteUserResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfile">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserProfileResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetUserProfileResult" nillable="true" type="q6:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userGuid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetUserResult" nillable="true" type="q7:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q8:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetUserByPhoneResult" nillable="true" type="q9:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetusersByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetusersByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetusersByPageResult" nillable="true" type="q10:ArrayOfUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Cinema.WCFService.Models" minOccurs="0" name="model" nillable="true" type="q11:BookingModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateBookingResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookingResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBooking">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="bookingId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetBookingResult" nillable="true" type="q12:Booking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByPhone">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="phone" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByPhoneResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetBookingsByPhoneResult" nillable="true" type="q13:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByScreeningId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeningId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetBookingsByScreeningIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetBookingsByScreeningIdResult" nillable="true" type="q14:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBookingsByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllBookingsByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetAllBookingsByPageResult" nillable="true" type="q15:ArrayOfBooking" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="hall" nillable="true" type="q16:Hall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateHallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateHallResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="hall" nillable="true" type="q17:Hall" />
        <xs:element minOccurs="0" name="hallId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateHallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hallId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHallResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHall">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hallId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHallResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetHallResult" nillable="true" type="q18:Hall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHallByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="hallName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHallByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetHallByNameResult" nillable="true" type="q19:Hall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHalls">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllHallsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetAllHallsResult" nillable="true" type="q20:ArrayOfHall" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="seat" nillable="true" type="q21:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="seat" nillable="true" type="q22:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeat">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="seat" nillable="true" type="q23:Seat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteSeatResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetTicketResult" nillable="true" type="q24:Ticket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tickettypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetTicketTypeResult" nillable="true" type="q25:TicketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketTypeByType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ticketType" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTicketTypeByTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetTicketTypeByTypeResult" nillable="true" type="q26:TicketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTicketTypes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllTicketTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetAllTicketTypesResult" nillable="true" type="q27:ArrayOfTicketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="tickettype" nillable="true" type="q28:TicketType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateTicketTypeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateTicketTypeResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="tickettype" nillable="true" type="q29:TicketType" />
        <xs:element minOccurs="0" name="tickettypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTicketTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketType">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tickettypeId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTicketTypeResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="movie" nillable="true" type="q30:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMovieResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="movie" nillable="true" type="q31:Movie" />
        <xs:element minOccurs="0" name="movieId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetMovieResult" nillable="true" type="q32:Movie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviePerPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviePerPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetMoviePerPageResult" nillable="true" type="q33:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByTitle">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieTitle" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMoviesByTitleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetMoviesByTitleResult" nillable="true" type="q34:ArrayOfMovie" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="movieinfo" nillable="true" type="q35:MovieInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateMovieInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateMovieInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="movieinfo" nillable="true" type="q36:MovieInfo" />
        <xs:element minOccurs="0" name="movieinfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMovieInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieinfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteMovieInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieinfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetMovieInfoResult" nillable="true" type="q37:MovieInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfosPerPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMovieInfosPerPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetMovieInfosPerPageResult" nillable="true" type="q38:ArrayOfMovieInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScreening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="screening" nillable="true" type="q39:Screening" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScreeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateScreeningResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreening">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="screening" nillable="true" type="q40:Screening" />
        <xs:element minOccurs="0" name="screeningId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreeningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreening">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeningId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreeningResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreening">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeningId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetScreeningResult" nillable="true" type="q41:Screening" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningsPerPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningsPerPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetScreeningsPerPageResult" nillable="true" type="q42:ArrayOfScreening" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatsSuggestion">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeningId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noOfTickets" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSeatsSuggestionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetSeatsSuggestionResult" nillable="true" type="q43:ArrayOfSeat" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScreeningInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="screeninginfo" nillable="true" type="q44:ScreeningInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateScreeningInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateScreeningInfoResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreeningInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="screeninginfo" nillable="true" type="q45:ScreeningInfo" />
        <xs:element minOccurs="0" name="screeninginfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateScreeningInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreeningInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeninginfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteScreeningInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="screeninginfoId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetScreeningInfoResult" nillable="true" type="q46:ScreeningInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfosByMovieId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="movieId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfosByMovieIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetScreeningInfosByMovieIdResult" nillable="true" type="q47:ArrayOfScreeningInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfosByPage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="page" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="noperpage" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetScreeningInfosByPageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Cinema.Domain" minOccurs="0" name="GetScreeningInfosByPageResult" nillable="true" type="q48:ArrayOfScreeningInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>